Here you can adjust the parameters for the game of life script.

# Symbol corresponding to dead cells
dead_symbol: "-"

# Symbol corresponding to living cells
live_symbol: "o"

# Number of iterations
n_iterations: 300

# Initial state
init_state:
"
-----------------------------------------------------------
-----------------------------------------------------------
----------oo-----------------------------------------------
------oo--oooo-oo-oo---------------oooo-oo-oo--------------
----------oooo-oo-------------------oooo-oo-oo-------------
----------oo-oo--oo----oo------------oo--------------------
----------oooo-oo------------------------------------------
----------oo------------------------oo---------------------
----------oo-----------------------------------------------
------oo--oooo-oo-oo---------------------------------------
----------oo-oo--oo----oo----------------------------------
----oo-------oo-----------o--------------------------------
-------oo-------------oo--o--------------------------------
----------oo-----------------------------------------------
------oo--oooo-oo-oo---------o-oooo-oo-oo-----------------o
----------oo-oo--oo----oo------------oo--------------------
----------oooo-oo------------------------------------------
----------oo----------------------o------------------------
----------oo-----------------------------oo----------------
------oo--oooo-oo-oo-----------oo-oo-o---------------------
----------oooo-oo---------------o-oo-----------------------
----------oo-oo--oo----oo----------------------------------
----------------oo------o-------oooo-oo--------------------
------oo--oooo-oo-oo---------------------------------------
----------oooo-oo---------------------oooo-oo--------------
----------oo-oo--oo----oo--------o--oooo-ooo---------------
----oo-------oo-----------o--------------------------------
-------oo-------------oo--o--------------------------------
----------------oo------o----------------------------------
-------------------------------oo--------------------------
"

